# gradle
.gradle/
gradle/
build/
out/
classes/
gradlew
gradlew.bat
gradle.properties

# IDE
.idea/
.settings/
.vscode/
bin/
*.iml
*.ipr
*.iws
*.launch
.classpath
.project

# macos
*.DS_Store

# fabric
run/
!run/config/fabric_loader_dependencies.json

# misc
.github
libs/
remappedSrc/
src/main/generated/
