# gradle
.gradle/
gradle/
build/
out/
classes/
gradlew
gradlew.bat

# IDE
.idea/
.settings/
.vscode/
bin/
*.iml
*.ipr
*.iws
*.launch
.classpath
.project

# macos
*.DS_Store

# run
run/
common/run/
forge/run/
fabric/run/
!fabric/run/config/fabric_loader_dependencies.json

# misc
.github
libs/
remappedSrc/
generated/
